<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">
    <test name="Swag Labs Test Cases">
        <classes>
            <class name="org.tests.CheckoutTests"></class>
            <class name="org.tests.ProductsTests"></class>
        </classes>
    </test>
</suite>